<!-- first box -->
<div class="footer__first">
  <ul>
    <li class="footer__heading">Shop</li>
    <li class="footer__subheading">By Category</li>
    <li>
      <a href="{{site.baseurl}}/mens-shop.html">MENS</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/womens-shop.html">WOMENS</a>
    </li>
  </ul>

  <ul>
    <li class="footer__heading">Contact</li>
    <li>
      <span class="footer__subheading">Email</span>
      <br>
      <a href="#">Contact US</a>
    </li>
    <li>
      <span class="footer__subheading">Telephone</span>
      <br>
      <a href="tel:555-555-5555">555-555-5555</a>
    </li>
    <li>
      <span class="footer__subheading">Email</span>
      <br>
      <a href="#">Contact Us</a>
    </li>
    <li>
      <span class="footer__subheading">Adress</span>
      <br>
      1261 Pin Oak Drive
      <br>
      Long Beach, CA 90808
    </li>
    <li>
      <span class="footer__subheading">Hours</span>
      <br>
      M - F 6:00am - 8:00pm PST
    </li>
  </ul>
</div>
<!-- second box -->
<div class="footer__second">
  <p>Follow Us</p>
  <ul>
    <li>
      <a href="https://facebook.com">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://instagram.com">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </ul>
</div>
<!-- third box -->
<div class="footer__third">
  <h4>Best Shop N.A.</h4>
  <p>&copy; Best Shop N.A.</p>
</div>
