/*SUB-NAV STYLES*/
.sub-nav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  padding-bottom: 0;
}

.sub-nav li {
  margin: 0 10px;
}

/*CONTAINER STYLES*/
.whole-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 75vh;
  padding: 15px 0 30px;
}

.whole-side .left-side,
.whole-side .right-side {
  flex: 1;
  padding: 0 80px;
}

/*RIGHT SIDE STYLES*/

.right-side > p:first-child {
  color: #c9192e;
}

.right-side h2 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 15px;
}

.right-side img:hover {
  border: 3px solid #c9192e;
}

/*SMALL IMGS CONTAINER*/
.style-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.style-list > div {
  text-align: center;
  margin: 0 3px;
}

.variety-list,
.product__view {
  margin: 5px 0;
  padding-bottom: 5px;
}

.product__view,
.variety-list {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 5px 0;
}

.product__view p,
.variety-list p {
  width: 100px;
  margin-right: 10px;
}

.variety-list a {
  color: #000;
  text-decoration: none;
}

.variety-list  p {
  margin: 0;
  margin-bottom: 5px;
}

.product__small {
  width: 100px;
}

/*SNIPCART FORM*/

#my-size,
.product__view input {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 1px 2px 1px 1px #f5f5f5 inset;
  box-shadow: 1px 2px 1px 1px #f5f5f5 inset;
  color: #64686b;
  margin: 0 0 1em 0;
  padding: 0.5em;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  text-indent: 1px;
  cursor: pointer;
  padding-right: 20px;
}

.product__view input {
  padding-right: 0.5em;
}

.right-side button {
  background-color: #c9192e;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 15px 35px;
  text-transform: uppercase;
}

#big-img {
  width: 100%;
}


@media screen and (max-width: 960px) {
  .whole-side {
    flex-direction: column;
    height: 100%;
  }

  #big-img,
  .whole-side .right-side {
    width: 100%;
  }

  .whole-side .left-side {
    padding: 0;
  }

  .whole-side .right-side {
    padding: 30px;
  }

  .right-side h2 {
    margin-bottom: 15px;
  }
}
