<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Best Shop N.A.</title>
  <!-- jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" defer></script>
  <!-- font-awesome cdn -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" defer></script>
  <!-- snipcart cdn -->
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MTMxM2JjYmMtYmIyNi00OTEzLThhOWItOWQ0Mjg0NDU1MTliNjM2NDYxMTc5MDAzNzUxOTc3" defer></script>
  <!-- snipcart styles cdn -->
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet">
  <!-- netlify-cdn -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- custom css -->
  <link rel="stylesheet" href="{{site.baseurl }}/css/styles.css">
  <!-- custom js -->
  <script src="{{site.baseurl}}/js/main.js" defer></script>
  <script src="{{site.baseurl}}/js/responsive-nav.js" defer></script>
</head>
<body>
  <div class="container">
    <header>
      {% include nav.html %}
    </header>
    <div class="container__content">
      {% include sub-nav-shop.html %}
      {% include cart.html %}
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
</body>
</html>
